{% extends 'base.html' %}

{% block content %}
<div class="dropdown">
  <input type="button" name="selectedValue" value="show"/>
  <button class="dropdown-menu" type="button" data-toggle="dropdown" onclick="selectedValue()">
    Year
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    {% for annual_report in annual_report_list %}
    <li><a  id="dLabel" data-target="#" href="{% url 'report' %}?year={{annual_report}}" data-toggle="dropdown" role="button">{{annual_report}}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="btn-group dropup">
  <input type="button" name="selectedValue" value="show"/>
  <button class="dropdown-menu" type="button" data-toggle="dropdown" onclick="selectedValue()">
    Report Type
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    {% for report_type in report_type_list %}
    <li><a id="dLabel" data-target="#" href="{% url 'report' %}?by={{report_type}}" data-toggle="dropdown" role="button">{{report_type}}</a></li>
    {% endfor %}
  </ul>
</div>
<div>
  <submit type="button" href="{% url 'report' %}?year={{annual_report}}+?by={{report_type}}">
    Submit
  </submit>
</div>
<div>
  <table class="table table-bordered" id="report-table">
    <thead class="thead-default">
      <tr>
        <th scope='col'>{{year}}</th>
        {% for month in months %}
        <th scope='col' >{{month.1}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for attribute in attributes %}
      <tr>
        <td class="col-md-1">
          {{attribute.0}}
        </td>
        {% for month in months %}<td class="col-md-1">{% for data in data_list %}{% if data.attribute_id == attribute.1 %}{% if data.month == month.0|slugify and data.count != 0 %}<a href="{% url 'trip_list' %}?month={{month.0}}&amp;year={{year}}&amp;{{query_string}}={{data.attribute_id}}">{{data.count}}</a>{% endif %}{% endif %}{% endfor %}</td>{% endfor %}
      {% endfor %}
      </tr>
  </tbody>
  </table>
</div>
{% endblock %}
